:root {
    --nav-footer-bg-color: #000000;
    --nav-footer-fg-color: #fff;
    --bt-fg-text-color: #4C5FD5;
}

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

header {
    color: var(--nav-footer-fg-color);
    background-color: var(--nav-footer-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    height: 4rem;
    width: 100%;
}

.logo-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;
    & img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 15px;
    }

    & h1, p {
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
            color: var(--bt-fg-text-color);
        }
    }
}

.nav {
    margin-right: 2rem;
    & button {
        cursor: pointer;
        color: var(--nav-footer-fg-color);
        border-radius: 10px;
        width: 8rem;
        height: 2.2rem;
        border: 1px solid #fff;
        background-color: rgb(36, 36, 36);
    }
}

.nav :last-child {
    width: 5.5rem;
    background: var(--bt-fg-text-color);
    border: none;
}

.hero-search {
    height: 25rem;
    background-color:#dadbf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    & p {
        margin-top: 6rem;
        font-size: 4rem;
    }
}

.hero-search :nth-child(2) input{
    width: 45rem;
    height: 3rem;
    border-radius: 6px;
    border: 1px solid rgb(36, 36, 36);
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.282);
    outline: none;
    font-size: 1.2rem;
    &::placeholder {
        font-size: 1rem;
    }
    transition: scale 0.5s;
    &:focus {
        border-color: var(--bt-fg-text-color);
        scale: 1.01;
    }
}

img {
    width: 5rem;
    height: 5rem;
}

a {
    text-decoration: none;
}

.main-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.main-section article{
    display: flex;
    margin-top: 6rem;
    /* width: 29rem; */
    & div {
        margin-left: 2rem;
    }

    & div p {
        margin-top: 1rem;
    }

    & div a {
        color:  var(--bt-fg-text-color);
    }
}

footer {
    margin-top: 8rem;
    background-color: var(--nav-footer-bg-color);
    color: var(--nav-footer-fg-color);
    display: flex;
    justify-content: center;
    gap: 18.5rem;
    height: 22rem;

    & article {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    & article a {
        margin-bottom: 0.5rem;
        color: var(--nav-footer-fg-color);
        &:hover {
            color: var(--bt-fg-text-color);
        }
    }

    & article h3 {
        margin-bottom: 1.5rem;
    }

}

.copytight {
    margin-top: 12rem;

    & img {
        margin-bottom: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 15px;
    }
}
.contact-text {
    margin-top: 1.5rem;
}


/* 735px */
@media screen and (width < 46.25rem) {
    .hero-search :nth-child(2) input{
        width: 35rem;
    }

    .hero-search {
        & p {
            font-size: 3rem;
        }
    }
}

/* 590px */
@media  screen and (width < 36.875rem) {
    .main-section {
        flex-direction: column;
    }

    .hero-search :nth-child(2) input{
        width: 28rem;
    }
    
    .hero-search {
        & p {
            font-size: 2.5rem;
        }
    }

    .nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    header {
        height: 6rem;
    }

    .nav :last-child {
        width: 8rem;
    }
}
/* 475px */
@media  screen and (width < 29.688rem) {
    .nav {
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
    }
    .logo-container {
        flex-direction: column;
        gap: 0.4rem;

        & p {
            display: none;
        }

        & h1 {
            font-size: 1rem;
        }
        & a {
            font-size: 0.8rem;
        }

    }

    .hero-search :nth-child(2) input{
        width: 20rem;
    }

     .hero-search {
        & p {
            font-size: 2rem;
        }
    }
}
/* 415px */
@media  screen and (width < 25.938rem) {
    .nav {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}
/* 335px */
@media  screen and (width < 20.938rem) {
     .hero-search :nth-child(2) input{
        width: 14rem;
    }

     .hero-search {
        & p {
            font-size: 1.5rem;
        }
    }

    img {
        width: 4rem;
        height: 4rem;
    }
}